body{
  background-color: black;
}
h1{
  background-color: brown;
  color: aliceblue;
  font-size: 50px;
  text-shadow: 2 2 4 rgb(167, 17, 47);
}

img{
  border-radius: 2px;
  border-color: azure;
  padding: 3px;
}

p{
  color: brown;
  font-size: 20px;
}
